src/main/resources/wsdl/country.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soapws.com/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soapws.com/gen" targetNamespace="http://www.soapws.com/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soapws.com/gen">
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="code" type="xs:string" />
                    <xs:element name="currency" type="xs:string" />
                    <xs:element name="currency_code" type="xs:string" />
                    <xs:element name="time_zone" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountryPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest"></wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountryPortSoap11" type="tns:CountryPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getCountry">
            <soap:operation soapAction="" />
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountryPortService">
        <wsdl:port binding="tns:CountryPortSoap11" name="CountryPortSoap11">
            <soap:address location="http://localhost:9999/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>